.header__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 45px;
  min-height: 40px;
  padding: 8px 0;
  background: var(--header-color-bg);
  box-shadow: 1px 1px 4px rgba(80, 114, 125, 0.4);
  position: fixed;
  z-index: 10;

  .container {
    display: flex;
    font-family: "Roboto";
    align-items: center;
    .header__top__left {
      flex: 0.2;
    }

    .header__top__left > img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
    .header__top__center {
      text-align: center;
      flex: 1;

      h1 {
        color: rgba(241, 235, 235, 0.5);
        font-size: 16px;
        font-family: "Roboto";
        text-transform: uppercase;
      }
    }
    .header__top__right {
      display: flex;
      flex: 0.4;
      align-items: center;
      justify-content: space-between;

      .nav {
        margin-left: 10px;
        color: #fff;
        width: 100%;
        margin-right: 10px;
        span {
          margin-right: 5px;
        }
      }
      .postAd {
        width: 100%;

        button {
          background-color: var(--bg-yellow);
          color: #fff;
          font-weight: 600;
          outline: none;
          border-radius: 4px;
          cursor: pointer;
          border: none;
          font-size: 14px;
          height: 40px;
          width: 100%;
          padding: 0 8px;
          text-align: center;
        }
      }
    }
  }
}
