.footer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 100%;
  }
  .footer__content {
    display: flex;
    height: 400px;
    background-color: var(--header-color-bg);
  }
}
